.App {
  text-align: center;
}

.App-header {
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer-text {
  padding-top: 20px;
  font-size: small;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 20px 0px;
  scrollbar-color: #212121 #000;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #000;
}

.nft-card {
  flex-shrink: 0;
  min-height: 200px;
  width: 200px;
  margin-left: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  overflow-wrap: break-word;
}

.nft-name, .status {
  font-size: smaller;
  font-weight: lighter;
  padding: 8px;
}

.nft-image {
  object-fit: contain;
  width: 100%;
}