.votingPage {
	text-align: center;
  }

  .votingPage-logo {
	height: 40vmin;
	pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
	.votingPage-logo {
	  animation: votingPage-logo-spin infinite 20s linear;
	}
  }

  .votingPage-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }

  .votingPage-link {
	color: #61dafb;
  }

  @keyframes votingPage-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
